@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
}

.container {
    margin: 0;
    padding: 2rem;
    font-size: 1.5rem;
    animation-name: bg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    height: fit-content;
}

@keyframes bg {
    0% {
        background-color: rgba(242, 107, 132, 0.7);
    }
    20% {
        background-color: rgb(238, 173, 32, 0.7);
    }
    40% {
        background-color: rgb(4, 191, 173, 0.7);
    }
    60% {
        background-color: rgb(116, 58, 241, 0.7);
    }
    80% {
        background-color: rgb(242, 99, 199, 0.7);
    }
    100% {
        background-color: rgb(242, 107, 131, 0.7);
    }
}

main {
    font-family: 'Chivo', sans-serif;
    margin: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    animation-name: link;
    animation-duration: 2s;
}

@keyframes link {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(.5rem);
    }
    100% {
        transform: translateY(0);
    }
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding-inline-start: 0%;
}