body {
  margin: 0;
  padding: 0 2rem;
  line-height: 1;
  background-color: rgb(56, 56, 56);
  background-size: cover;
  color: #ffffff;
  text-align: center; 
  font: 300 1.2rem/1.7 'Roboto Condensed';
}
  
ul {
  list-style: none;
  padding-left: 0;
}

p {
  margin-bottom: 3rem;
}

svg {
  width: 100%;
  height: 200px;
  transform: scale(1.4);
}

.react {
  transform: scale(2.5);
}

figure {
  width: 5em;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
}

.title {
  margin-bottom: 2.5rem; 
  font: 4rem 'Stint Ultra Condensed'; 
  text-transform: uppercase;
}

.list-services {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap;
}

.list-services li { 
  padding: 0 2em; 
}

.list-services figcaption { 
  margin: 1em 0 2em 0;
}

/* ANGULAR */

.bg {
  animation: bg 2s .5s forwards;
  fill: #E23237;
  fill-opacity: 0;
  stroke: rgb(255, 255, 255);
  stroke-width: 8px;
  stroke-opacity: 0;
  stroke-dasharray: 1000px;
}
@keyframes bg {
  0% {
    stroke-opacity: 1;
    stroke-dashoffset: 1000px;
  }
  50% {
    fill: #E23237;
    fill-opacity: 0;
  }
  100% {
    stroke-width: 0;
    fill-opacity: 1;
  }
}
.bg-2 {
  animation: bg-2 2s 2.5s forwards;
  opacity: 0;
}
@keyframes bg-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.a {
    animation: a 1s 2s forwards;
    transform-origin: center center;
    opacity: 0;
}
@keyframes a {
  from {
    transform: rotate(540deg) scale(.5);
  }
  to {
    opacity: 1;
  }
}

/* REACT */

circle {
  animation: circulo .8s 4s forwards;
  transform-origin: center center;
  opacity: 0;
  box-shadow: 0px 0px 30px 5px white;
}

@keyframes circulo {
  0% {
    transform: scale(.5);
    box-shadow: 0px 0px 30px 5px white;
  }
  15% {
    opacity: 1;
    transform: scale(2);
    box-shadow: 0px 0px 30px 5px white;
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: translateY(20em);
  }
  58% {
    transform: translateY(22em) scaleY(.4) scaleX(1.6);
  }
  60% {
    transform: translateY(20em);
    fill: white;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.elipseIzq {
  animation: elipseIzq 2.45s 4.7s forwards;
  transform-origin: center center;
  opacity: 0;
}

@keyframes elipseIzq {
  from {
    transform: scale(.5) rotate(2000deg);
    fill: white;
  }
  to {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

.elipseDer {
  animation: elipseDer 2.3s 4.7s forwards;
  transform-origin: center center;
  opacity: 0;
}

@keyframes elipseDer {
  from {
    transform: scale(.3) rotate(-900deg);
    fill: white;
  }
  to {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

.elipseHor {
  animation: elipseHor 2s 4.7s forwards;
  transform-origin: center center;
  opacity: 0;
}

@keyframes elipseHor {
  from {
    transform: scale(0) rotate(1440deg);
    fill: white;
  }
  to {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

/* VUEJS */

.v-entera {
  animation: v-entera 6s 6.5s forwards;
  stroke: white;
  stroke-width: 5px;
  stroke-opacity: 0;
  fill-opacity: 0;
  stroke-dasharray: 900px;
}
@keyframes v-entera {
  0% {
    stroke-dashoffset: 900px;
    stroke-width: 5px;
  }
  60% {
    opacity: 1;
    stroke-opacity: 1;
    stroke-dasharray: 20px 20px;
  }
  100% {
    stroke-width: 0;
    stroke-dasharray: 20px 20px;
  }
}

.v-clara {
  animation: v-clara 4s 9s forwards;
  opacity: 0;
  stroke-dasharray: 1200px;
  stroke: rgb(108, 255, 174);
  fill-opacity: 0;
}

@keyframes v-clara {
  0% {
    transform: translateY(-5em);
    stroke-width: 8px;
    stroke-dashoffset: 1100px;
  }
  40%{
    opacity: 1;
  }
  70%{
    fill-opacity: 0;
    transform: translateY(0em);
  }
  100% {
    opacity: 1;
    fill-opacity: 1;
    stroke-width: 0px;
  }
}

.v-oscura {
  animation: v-oscura 2.5s 10s forwards;
  opacity: 0;
  stroke-dasharray: 700px;
  stroke: rgb(43, 128, 255);
  fill-opacity: 0;
}

@keyframes v-oscura {
  0% {
    transform: translateY(-7em);
    stroke-width: 8px;
    stroke-dashoffset: 500px;
  }
  40%{
    opacity: 1;
  }
  70%{
    fill-opacity: 0;
  }
  100% {
    opacity: 1;
    fill-opacity: 1;
    stroke-width: 0px;
    transform: translateY(0em);
  }
}
